@import 'variables';
@import 'login';
@import 'dynamic';
@import 'inputs';

body {
  display:flex;
  flex-flow:column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: $primary;
  font-family: "Quicksand", sans-serif;
  color: $white;
  text-shadow: 2px 2px 8px #161722;
}

.userInfoHeader {
  margin: 20px;
}

.hide {
  display: none;
}
