.dataSet {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $lightAccent;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
}

.dataCard {
  background-color: $darkAccent;
  border-radius: 7px;
  margin: 20px;
  padding: 15px;
  width: 250px;
}
